<h5><%= title %></h5>
<% if collection.empty? %>
  <p class="text-muted font-italic">No <%= title.downcase %> exist yet.</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover table-sm table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="w-10 text-center">Order</th>
          <th class="w-40">Label</th>
          <th class="w-20 text-center">Color</th>
          <th class="w-20 text-center">Text Color</th>
          <th class="w-10 text-center">Options</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |obj| %>
          <tr>
            <td class="text-center"><%= render partial: 'sort_order_form', locals: { descriptor: obj } %></td>
            <td><%= render partial: 'label_form', locals: { descriptor: obj } %></td>
            <td class="text-center"><%= render partial: 'color_form', locals: { descriptor: obj } %></td>
            <td class="text-center"><%= render partial: 'text_color_form', locals: { descriptor: obj } %></td>
            <td class="text-center"><%= render partial: 'delete_form', locals: { descriptor: obj } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>