<%= form_with(model: descriptor, url: descriptors_path, class: "border mt-3 bg-dark text-light p-3 rounded shadow") do |form| %>
  <p class="small font-weight-bold text-white mb-2 text-uppercase">New Item</p>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= form.label  :type,
                        "Type:",
                        class: "mb-0" %>
        <%= form.select :type,
                        Descriptor.options_for_type,
                        { invlude_blank: true },
                        { class: 'shadow form-control form-control-sm',
                          required: true } %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= form.label  :label,
                        "Label:",
                        class: "mb-0" %>
        <%= form.text_field :label,
                            class: 'shadow form-control form-control-sm' %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= form.label  :color,
                        "Color:",
                        class: "mb-0" %>
        <%= form.color_field  :color,
                              class: 'shadow form-control form-control-sm' %>
      </div>
    </div>
  </div>
  <%= form.button fa_icon('check', text: 'Save'),
                  class: 'btn btn-success btn-sm float-right border shadow',
                  type: 'submit' %>
  <div class="clearfix"><!----></div>
<% end %>