<div class="row">
  <div class="col col-md-9">
    <%= render partial: 'new_form', locals: { descriptor: @new_descriptor } %>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card shadow bg-secondary text-light mb-3">
      <div class="card-body py-2 px-3 small font-italic">
        Note: if you delete anything below, anywhere that item has been used will be set to nothing.
      </div>
    <div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <%= render partial: 'descriptor_collection', locals: { title: "Hunger Levels", collection: @hunger_levels } %>
  </div>
  <div class="col-12 col-md-4">
    <%= render partial: 'descriptor_collection', locals: { title: "Energy Levels", collection: @energy_levels } %>
  </div>
  <div class="col-12 col-md-4">
    <%= render partial: 'descriptor_collection', locals: { title: "Concentration Levels", collection: @concentration_levels } %>
  </div>
  <div class="col-12 col-md-4">
    <%= render partial: 'descriptor_collection', locals: { title: "Moods", collection: @moods } %>
  </div>
</div>